
$myYellow: #fdbb2c;

html, body
  height: 100%


#canvas
	height: 100%
	position: relative
	width: 100%

.bar
	background-color: $myYellow
	position: relative
	height: 55px
	width: 100%

#header
	@extend .bar
	top: 0

#footer
	@extend .bar
	bottom: 0

#body 
	background-color: #fffff4
	min-height: 813px
	position: relative
	width: 100%

#card-holder
	width: 325px
	height: 100%
	left: 100px
	top: 0
	position: absolute
	background-color $myYellow

#pole
	height: 100%
	width: 15px
	background-color: $myYellow

.flex-container
	-webkit-flex-direction: column
	flex-direction: column
	top: 0
	position: absolute
	height: 100%
	left: 15px

.flex-item
	border: 5px solid black
	border-left-width: 0px
	height: 40px
	margin-top: -5px
	min-width: 100px
	max-width: 300px
	padding: 0

.label
	border-top-right-radius: 10px
	border-bottom-right-radius: 10px
	padding: 0
	position: absolute
	cursor: pointer
	width: calc(100% - 5px)
	height: 30px
	background-color: $myYellow
	color: white
	font-weight: bold
	font-size: 15px
	padding-left: 7px
	padding-right: 10px
	padding-top: 6.4px
	text-align: left
	z-index: 2

.conect-pin
	background-color: blue
	position: relative
	width: 20px
	height: 5px
	top: 12.5px

// .label
// 	cursor: pointer
// 	border-top-right-radius: 10px
// 	border-bottom-right-radius: 10px
// 	margin-top: 5px
// 	position:absolute
// 	top: 0
// 	min-width: 100px
// 	max-width: 300px
// 	height: 30px
// 	background-color: $myYellow
// 	color: white
// 	font-weight: bold
// 	padding-left: 7px
// 	padding-right: 10px
// 	padding-top: 4px
// 	&:hover
//     transform: translateX(20px)

// #contect-pin
// 	width: 20px
// 	height: 5px
// 	background-color: blue
// 	position: absolute
// 	top: 0




//Figuer out compas and have it work on different browsers

//smaller than 640 change to mobile background


