
.panel-title {cursor: pointer; user-select: none;}

#box-container {
	border: 5px solid black;
	margin-top: 100px; margin-bottom: 100px;
	height: 500px;
	padding: 0px;
	width: 500px;
}

#accordion {padding: 10px;}

#footer-bar {border: 5px solid black;}


